<h1>Biblion</h1>

<p>Hej <%= @user.name %>,</p>

<p>
Välkommen till Biblion! Klicka på länken nedan för att aktivera ditt konto:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
