<% if @user.errors.any? %>
  <div id="error">
    <div class="alert alert_danger">
      <h2>There were some errors with your form...</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  </div>
  <% end %>
