<% provide(:title, "Information") %>
<div class="center_container">
  <div #about>
<h3>Vad är Biblion?</h3>
  <p>Biblion är en tjänst som möjliggör delning av böcker.</p>

  <p>Genom att registrera dig på Biblion kan du lägga upp dina böcker som du vill ge bort.
  Du kommer också kunna få böcker av andra användare på Biblion.</p>



<h3>Hur använder jag tjänsten?</h3>
  <h4>Skapa ett konto</h4>
  <p> <%= link_to "Skapa ett konto här", signup_path %>. Efter att du har skapat ett konto måste
  du verifiera din mail för att kunna börja använda Biblion.</p>
  <h4>Lägg upp böcker</h4>
  <p>Du kan lägga upp böcker genom att klicka på "Meny" och därefter "Lägg till en bok". 
  Du kommer då till en sida där du kan söka på titeln eller författaren till boken du vill lägga upp.
  Om du inte hittar boken kan du fylla i informationen manuellt.</p>
  <h4>Be om att få en bok</h4>
  <p>Om du hittar en bok som du skulle vilja ha, 
  hittar du kontaktinformationen till ägaren på bokens sida.</p>

<h3>Kontakt</h3>

<% if logged_in? %>
  <p><%= User.first.email %></p>
<% else %>
  <p>Logga in för att se kontaktinformation</p>
  <% end %>

<h3>Vilka uppgifter lagras om användare?</h3>

<p>Biblion lagrar användares namn/alias, ort, och mailaddress.
   Ifall du som användare inte vill uppge ditt riktiga namn, 
   kan du istället använda ett alias.</p>


</div>
</div>
