<% provide(:title, "Information") %>
<div class="center_container">
  <div class="about">
<h3>Vad är Biblion?</h3>
  <p>Biblion är en tjänst som möjliggör delning av böcker. 
  Idén är att användare lägger upp böcker som de vill ge bort, så att andra användare
  kan få läsa dem.</p>

  <p>För att kunna ge bort eller få böcker, så måste du skapa ett konto på Biblion.</p>



<h3>Hur använder jag tjänsten?</h3>
  <h4>Skapa ett konto</h4>
  <p> <%= link_to "Skapa ett konto här", signup_path %>. Efter att du har skapat ett konto måste
  du verifiera din mail för att kunna börja använda Biblion (observera att mailet kan ta några minuter att komma fram).</p>
  <h4>Lägg upp böcker</h4>
  <p>När du har aktiverat ditt konto och är inloggad, kan du lägga upp böcker genom att klicka på "Meny" och därefter "Lägg till en bok". 
  Du kommer då till en sida där du kan söka på titeln eller författaren till boken du vill lägga upp.
  Om du inte hittar boken kan du fylla i informationen manuellt.</p>
  <h4>Be om att få en bok</h4>
  <p>Om du hittar en bok som du skulle vilja ha, 
  hittar du kontaktinformationen till ägaren på bokens sida.</p>

<h3>Kontakt</h3>
  <p>Biblion har skapats av <a href="mailto:dat14jan@student.lu.se">Johan Andersson.</a></p>

<h3>Frågor och svar om integritet</h3>

<h4>Vad för information lagras om användare?</h4>
<p>Biblion lagrar användares namn/alias, ort, och mailaddress.
   Ifall du som användare inte vill uppge ditt riktiga namn, 
   kan du istället använda ett alias.</p>

<h4>Spåras användare på något sätt?</h4>
<p>Biblion spårar inte användare. Biblion är dock beroende av ett flertal tredjepartstjänster (Se Google nedan och <a href="https://github.com/johan-andersson01/biblion/blob/master/Gemfile">Biblions Gemfile</a>). 
Hur dessa tjänster hanterar data är något Biblion ej tar ansvar för.</p>
<p>Biblion nyttjar förstahands cookies och använder dessa enbart för att lagra användares sessioner.</p>

<h4>Vad är Biblions relation till Google?</h4>
<p>Biblion använder <a href="https://github.com/zeantsoi/GoogleBooks">Google Books API</a> för att tillhandahålla bokomslag och 
information till de böcker som har lagts till med hjälp av API:t.</p>
<p>Fram tills den 9 december 2017 användes Google Analytics för att mäta användardata. Sedan dess används tjänsten ej.</p>



</div>
</div>
