<% provide(:title, "Information") %>
<div class="center_container">
  <div #about>
<h2>Vad är Biblion?</h2>
  <p>Biblion är en tjänst som möjliggör delning av böcker</p>


<h2>Hur använder jag tjänsten?</h2>
  <h3>Skapa ett konto</h3>
  <h3>Lägg upp böcker</h3>
  <h3>Be om att få en bok</h3>


<h2>Vilka uppgifter lagras om användare?</h2>
<p>Biblion lagrar användares namn/alias, ort, och mailaddress.
   Det är helt OK för användaren att använda ett alias
 istället för sitt riktiga namn.</p>
</div>
</div>
