<% provide(:title, @author) %>
<div class="col-md-12">
    <h3>Alla böcker skrivna av <%= @author %></h3>
    <ul class="books">
      <%= render @books %>
    </ul>
    <%= will_paginate @books %>
</div>
