<% provide(:title, @location) %>
<div class="col-md-12">
    <h3>Alla böcker i <%= @location %></h3>
    <ul class="books">
      <%= render @books %>
    </ul>
    <%= will_paginate @books %>
</div>
