<% provide(:title, "Sökning") %>
<div class="col-md-12">
    <h3>Alla böcker som matchar sökningen (
      <% unless @books.nil? %>
        <%= @books.count %>
      <% else %>
        0
      <% end %>
      )</h3>
    <ul class="books">
      <%unless @books.nil? %>
        <%= render @books %>

    </ul>
    <%= will_paginate @books, previous_label: t("föregående"), next_label: t("nästa")%>
    <% end %>
</div>
