<% provide(:title, "Sökning") %>
<div class="col-md-12">
    <h3>Alla tillgängliga böcker som matchar sökningen <%= params[:query] %> (
      <% unless @books.nil? %>
        <%= @books.count %>
      <% else %>
        0
      <% end %>
      )</h3>
    <ul class="books">
      <%unless @books.nil? %>
        <%= render @books %>
    </ul>
    <% end %>
</div>
<script>


/* 
Source: https://stackoverflow.com/questions/3115150/how-to-escape-regular-expression-special-characters-using-javascript
*/
function escapeRegExp(text) {
  return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, '\\$&');
}
/* 
Source: https://j11y.io/snippets/highlighting-text-with-javascript/
*/
function highlight(container,what,spanClass) {
  console.log(what)
    what = escapeRegExp(what);
    console.log(what)
    var content = container.innerHTML,
        pattern = new RegExp('(>[^<.]*)(' + what + ')([^<.]*)','gi'),
        replaceWith = '$1<span ' + ( spanClass ? 'class="' + spanClass + '"' : '' ) + '">$2</span>$3',
        highlighted = content.replace(pattern,replaceWith);
    return (container.innerHTML = highlighted) !== content;
}

var books = document.getElementsByClassName("book");
for (var i = 0, len = books.length; i < len; i++) {
  highlight(books[i], "<%= @query %>", 'highlight');
}
</script>
