@import "bootstrap-sprockets";
@import "bootstrap";

$error_color_light: hsla(0,90%,90%,50%);
$error_color_dark:  hsla(0,90%,70%,50%);

$success_color_light: rgb(66,139,202);
$success_color_dark: rgb(46,119,182);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin center_container {
  display:flex;
  justify-content: center;
}

@mixin center_content {
  width:80%;
  max-width:500px;
}

@mixin flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height:100%;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color:#444;
}


.center_container {
  @include center_container;
}

.center_content {
  @include center_content
}
/* debug */

.debug {
  margin-top:20px;
  margin-bottom: 50px;
  float: left;
  width: 100%;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* header */

nav{
  margin-bottom:20px;
}

@media screen and (min-width: 768px) {
header nav {
  width:100%;
  > ul:not(.dropdown-menu) {
    width:100%;
    > li {
      margin-right:0px;
      margin-left:0px;
      width:25%;
      text-align:center;

      .form-inline .form-control {
        width:100%;
        margin:0px;
        margin-top:10px;
      }
    }

    > li:nth-of-type(1) {
      width:200px;
    }

    > li:nth-of-type(2) {
      // width:50%;
      margin-right: 10px;
    }

    > li:nth-of-type(3) {
      width:200px;
    }

    > li:nth-of-type(4) {
      width:150px;
    }
  }
}
}

header nav ul li:nth-of-type(1) {
    margin-left:0px;
}

/* body */

.main-content { padding-top: 70px; }
@media screen and (max-width: 768px) {
    .main-content { padding-top: 238px; }
}

/* footer */

.footer {
  width:100%;

  li {
    float:right;
    padding-right:10px;
    padding-left: 10px;
  }
  li:first-child {
    @media screen and (max-width: 562px) {
        display:none;}
    float:left;
  }
}

/* signup */

.field_with_errors input{
  background:$error_color_light !important;
  outline: 1px solid $error_color_dark !important;
}

.alert {
  @include box-sizing;
  margin-top:20px;
  margin-bottom: 50px;
  width:100%;
  outline:1px solid $error_color_dark;
  background: $error_color_light;

    ul li {
      list-style: none;
    }

    h2 {
      font-size:170%;
    }
}

.alert-success {
  outline:1px solid $success_color_dark;
  background: $success_color_light;
  color:#fff;
  text-align: center;
}

#error {
  width:100%;
  display:flex;
  justify-content: center;
}


.confirm {

  .collapse {
    padding-top:10px;
  }

  input:nth-of-type(2) {
    margin-bottom: 0px;
  }

  input span {
    font-size: 90%;
  }

  .btn {
    margin-top:10px;
    width:100%;
  }
}

.signup_form {
  width:100%;
  @include center_container;
    form {
      @include center_content;

      .non-editable {
        background: hsl(0,0%,95%);
        color:hsl(0,0%, 50%);
      }

      .btn-danger {

      }


      .checkbox {
        margin-top: 10px;
        margin-bottom: 20px;
        vertical-align: middle;

        span {
          margin-left: 20px;
          text-align: right;
          font-weight: normal;
        }

        #checkbox {
          width:auto;
          margin:0px;
          // margin-top:2px;
          outline:0;

        }
      }
    }
}

.users {
  list-style: none;
  margin: 0;

  li {
    @include box-sizing;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding: 10px 0;

    border-bottom: 1px solid $gray-lighter;

    span {
      margin:10px 20px 10px 5px;
    }
  }
}
