@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rochester');

$error_color_light: hsla(0,90%,90%,50%);
$error_color_dark:  hsla(0,90%,70%,50%);
$ok: rgb(66,139,202);
$success_color_light: rgb(66,139,202);
$success_color_dark: rgb(46,119,182);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin center_container {
  display:flex;
  justify-content: center;
}

@mixin center_content {
  width:80%;
  max-width:500px;
}

@mixin flex-container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height:100%;
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color:#444;
}

#title {
  font-family: 'Rochester', cursive;
  font-size:150%;
}

#subtitle {
  font-size:50%;
  position: relative;
  top:-1.5em;
  left:-2.8em;
}

.secondary-title {
  font-family: 'Open Sans', sans-serif;
  font-size:90%;
}


.center_container {
  @include center_container;

  #about {
    max-width:700px;
  }
}

.center_content {
  @include center_content
}
/* debug */

.debug {
  margin-top:20px;
  margin-bottom: 50px;
  float: left;
  width: 100%;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* header */

body{
  margin-top:69px;
}

@media screen and (min-width: 768px) {
.list-form {
  li {
    float:left;
    list-style: none;
    margin: 10px 0 0 20px;
  }
  li:nth-child(1) {
    width:400px;
  }
  li:nth-child(2) {
    width:40px;
    background:hsla(0,0%,0%,0);
  }
  input {
    border-radius: 2%;
    padding:5px;
    border:none;
    background:none;
    border-bottom:1px solid $ok;
  }

  input:focus {
    outline:none;
  }
}
}

@media screen and (max-width: 768px) {
  .list-form {
    li {
      margin: 10px 0 0 5px;
      float:left;
      list-style: none;
    }
    li:nth-child(1) {
      width:90%;
    }
    li:nth-child(2) {
      width:20px;
    }
  }
}

.list-form li:nth-child(2) {
  input {
    border: none;
    background:hsla(0,0%,0%,0);
    background-image:asset-url("searchblue.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}


/* footer */

.footer {
  width:100%;

  li {
    float:right;
    padding-right:10px;
    padding-left: 10px;
  }
  li:first-child {
    @media screen and (max-width: 562px) {
        display:none;}
    float:left;
  }
}

/* signup */

.field_with_errors input{
  background:$error_color_light !important;
  outline: 1px solid $error_color_dark !important;
}


.alert {
  @include box-sizing;
  margin-top:20px;
  margin-bottom: 50px;
  width:100%;
  outline:1px solid $error_color_dark;
  background: $error_color_light;

    ul li {
      list-style: none;
    }

    h2 {
      font-size:170%;
    }
}

.alert-success {
  outline:1px solid $success_color_dark;
  background: $success_color_light;
  color:#fff;
  text-align: center;
}

.alert-danger {
  outline:1px solid $error_color_light;
  background: $error_color_dark;
  color: #fff;
  text-align: center;
}

#error {
  width:100%;
  display:flex;
  justify-content: center;
}

.btn-static {
  background-color: hsl(0,50%,95%);
  border: 1px solid hsl(0,50%,65%);
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}

  .menu-bar {
    outline:1px solid $ok;
    margin:5px;
  }





.pagination {
  margin:0px auto;
  text-align: center;
}
