@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  padding: 0px;
  margin: 0px;
}

html, body {
  height:100%;
}

/* debug */

.debug {
  position:fixed;
  bottom:0;
  margin-bottom: 50px;
  float: left;
  width: 100%;
  @include box_sizing;
}

/* header */

nav{
  margin-bottom:20px;
}

/* body */

.main-content { padding-top: 70px; }
@media screen and (max-width: 768px) {
    .main-content { padding-top: 228px; }
}

/* footer */

footer {}
