// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about {
    max-width:700px;
    margin:0px auto;
    padding:20px;

    @media screen and (max-width: 768px) {
        margin-bottom:50px;
    }
}

.email {
    color:rgb(51, 122, 183);
}
.email:hover {
    color:#444;
    cursor:pointer;
}