// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$l-gray: hsl(0,0%,90%);
$d-gray: hsl(0,0%,80%);


// signup, login

.signup_form {
  width:100%;
  margin-bottom:40px;
  @include center_container;
    form {
      @include center_content;

      .non-editable {
        background: hsl(0,0%,95%);
        color:hsl(0,0%, 50%);
      }

      .btn-danger {

      }

      .checkbox-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
      }

      .checkbox-label {
        float: left;
        font-weight: normal;
      }

      .checkbox {
        width:10px;
        margin: 10px 5px 10px 0px;
        vertical-align: middle;
        float:left;
      }
    }
}

.confirm {

  .collapse {

  }

  input:nth-of-type(2) {
    margin-bottom: 0px;
  }

  input span {
    font-size: 90%;
  }

  .btn {
    // margin-top:10px;
    margin-bottom:10px;
    width:100%;
  }
}

// show

.user_info   {
  #name {
    font-size: 150%;
    padding-right: 5px;
  }
  ul {
    li {
      display: flex;
      justify-content:flex-start;
    }

    .attr {
      width:150px;
      padding-right: 20px;
      font-weight: bold;
      background:$l-gray;
    }

    .info {
      width:200px;
      padding-left:20px;
      background: $d-gray;
    }
  }
}

.users {
  list-style: none;
  margin: 0;

  li {
    @include box-sizing;
    display:flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;

    span {
      margin:10px 20px 10px 5px;
    }
  }
}

/* books */



aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
