<nav  class="navbar navbar-default navbar-fixed-bottom">

  <ul class="nav navbar-right navbar-nav footer">
    <li><a href="#">Ett bibliotek. För oss alla, av oss alla.</a></li>
    <li><a href="#">Om Biblion</a></li>
    <li><a href="#">Kontakt</a></li>
    <li><a href="#">Github</a></li>
  </ul>
</nav>
