<nav  class="navbar navbar-default navbar-fixed-bottom">

  <ul class="nav navbar-right navbar-nav footer">
    <li><a href="https://sv.wikipedia.org/wiki/Delningsekonomi" target="_blank">Ett bibliotek. För oss alla, av oss alla.</a></li>
    <li><%= link_to "Om Biblion", about_path %></li>
    <li><a href="#">Github</a></li>
  </ul>
</nav>
